@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Open+Sans&display=swap');
@layer components{
  .navbar-btn{
    @apply flex items-center justify-center 
           w-24 h-full text-xl bg-transparent
           hover:text-primary duration-300
           font-bold
  }

  .full-page{
    @apply  flex w-full min-h-screen h-minPageHeight
  }

  .main-container{
    @apply bg-background flex flex-col w-full items-center h-fit text-white
  }

  .content-container{
    @apply flex lg:max-w-5xl w-full h-fit justify-center relative
                lg:flex-row flex-col
  }

  .image{
    @apply h-full w-full
  }

  .icon{
    @apply m-2 h-8 w-8 cursor-pointer
  }
}




*{
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

