@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans+TC&display=swap');
@layer components{


  .main-container{
    @apply bg-background flex flex-col w-full items-center h-fit text-white
  }

  .content-container{
    @apply flex md:max-w-5xl w-full h-fit justify-center relative
                md:flex-row flex-col
  }

  img{
    @apply max-h-full max-w-full
  }

  .icon{
    @apply m-2 h-8 w-8 cursor-pointer
  }

  h1{
    @apply md:text-3xl text-2xl
  }

  h2{
    @apply md:text-2xl text-xl
  }

  h3{
    @apply md:text-xl text-lg
  }
  
  p{
    @apply md:text-base text-base
  }

  .speakerContainer:hover .play{
    @apply text-7xl opacity-100
  }
}




*{
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  background-color:black
}

.nav_toggle .nav_toggle_bar{
  @apply block h-1 w-8 rounded-full absolute bg-whiteish duration-300
}
.nav_toggle:hover .nav_toggle_bar{
  @apply bg-backgroundBright
}

.nav_toggle.active .nav_toggle_bar:nth-of-type(1){
  @apply rotate-45 translate-y-1.5
}
.nav_toggle.active .nav_toggle_bar:nth-of-type(2){
  @apply -rotate-45 -translate-y-1.5
}

/* min width */

@media screen and (max-width: 760px){

  .nav_menu{
    @apply fixed w-full bg-transparent shadow-2xl shadow-black rounded-b-3xl top-0 pt-10 pb-5 px-6 duration-500 bg-background opacity-80
  }

  .nav_menu.active{
    @apply -top-96 opacity-0
  }
  
  .nav_list{
    @apply flex flex-col w-full
  }

  .nav_link{
    @apply flex items-center justify-center text-xl hover:text-backgroundBright duration-300 w-full h-16 font-bold
  }

  .nav_toggle{
    @apply absolute right-0 top-0
  }
}


/* normal screen */

@media screen and (min-width: 760px){

  .nav_menu{
    @apply top-0 ml-auto
  }

  .nav_list{
    @apply flex ml-auto w-fit
  }

  .nav_link{
    @apply flex items-center text-xl hover:text-backgroundBright duration-300 px-10 h-full w-full font-bold
  }

  .nav_toggle{
    @apply absolute -right-20 opacity-0
  } 

}
